body {
  margin: 0; 
  padding: 0; 
}

.home {
  color: white; 
  height: 100vh; 
  background: url('./home-page.jpg') no-repeat center center fixed;
  background-size: cover; 
}

.home h1 {
  text-align: center; 
  font-size: 50px;  
  margin: 0; 
  padding-top: 30px; 
}

.home h2 {
  text-align: center; 
  width: 50%;
  margin: 0 auto; 
  margin-top: 30px; 
}

.links {
  display: flex; 
  justify-content: center; 
  margin-top: 40px; 
}

.links a {
  color: black; 
  margin: 20px; 
  padding: 20px; 
  width: 70px; 
  text-align: center; 
  font-size: 20px; 
  background-color: white; 
  text-decoration: none; 
  border-radius: 10px; 
}

.links a:hover {
  background-color: #D23A2F; 
  color: white; 
}
